#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        connector                     
            breakout c1-100g
        exit
        no shutdown
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        ethernet
            encap-type dot1q
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "system"
            no shutdown
        exit
        interface "toPE2-100"
            address 172.16.100.2/24
            port 1/1/c1/1:100
            no shutdown
        exit
    exit
